*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    padding: 2rem 9%;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1rem 2%;
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #ff0000;
    color: #000000;
}

ul li.active a{
    background-color: #ff0000;
    color: #000000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}


.btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 68%;
    left: 0%;
    border: 1px solid #000000;
    padding: 10px 30px;
    color: #000000;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #ff0000;
    border: 1px solid #00000000;
    color: #ffffff;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
    margin: auto;
}

.home .content h3{
    font-size: 50px;
    color: #000000;
    stroke-width: 100%;
    text-decoration-line: underline;
    text-decoration-color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00000010;
    text-shadow: #ffffff;
}

.home .content p{
    font-size: 20;
    color: #000000;
    padding: 2px 0px 12px;
    text-align: left;
    line-height: 1.5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000002e;
}