<html>
<head>
    <title>TrainToBangkok</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Calculator_Style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="Map.html">Map</a></li>
                <li class="active"><a href="#Calculator">Calculator</a></li>
                <li><a href="#Service">Service</a></li>
            </ul>
        </div>
    </header>

    <div class="wrapper">
        <div class="select-btn">
            <span>Select</span>
            <i class="uil uil-angle-down"></i>
        </div>
        <div class="content">
            <div class="search">
                <i class="uil uil-search"></i>
                <input spellcheck="false" type="text" placeholder="Search">
            </div>
            <ul class="options">
            </ul>
        </div>
    </div>

    <script src="Calculator.js"></script>

</body>
</html>
