<html>
<head>
    <title>TrainToBangkok - Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Calculator_Style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="Map.html">Map</a></li>
                <li class="active"><a href="#Calculator">Calculator</a></li>
                <li><a href="Service.html">Service</a></li>
            </ul>
        </div>
    </header>

    <nav>
        <h1 class="depart">Departure</h1>
        <br>
        <label for="lines">Select a Train Line:</label>
        <select id="lines" name="lines">
            <option value="sukhumvit">Green Line (Sukhumvit Line)</option>
            <option value="silom">Green Line (Silom Line)</option>
            <option value="gold">Gold Line</option>
            <option value="pink">MRT Pink Line</option>
            <option value="yellow">MRT Yellow Line</option>
            <option value="blue">MRT Blue Line</option>
            <option value="purple">MRT Purple Line</option>
            <option value="airportlink">ARL Airport Rail Link</option>
            <option value="red">Red Line Commuter Train</option>
        </select>
        <br>
        <br>
        <div id="stations-container">
            <ul id="stations-list">
            </ul>
            <label for="stations">Select a Station:</label>
            <select id="stations" name="stations">
                <option value="stations1">Select Line First</option>
            </select>
        </div>

        <br>
        <h1 class="destination">Destination</h1>
        <br>
        <label for="lines">Select a Train Line:</label>
        <select id="lines_2" name="lines">
            <option value="sukhumvit">Green Line (Sukhumvit Line)</option>
            <option value="silom">Green Line (Silom Line)</option>
            <option value="gold">Gold Line</option>
            <option value="pink">MRT Pink Line</option>
            <option value="yellow">MRT Yellow Line</option>
            <option value="blue">MRT Blue Line</option>
            <option value="purple">MRT Purple Line</option>
            <option value="airportlink">ARL Airport Rail Link</option>
            <option value="red">Red Line Commuter Train</option>
        </select>
        <br>
        <br>
        <div id="stations-container">
            <ul id="stations-list_2">
            </ul>
            <label for="stations">Select a Station:</label>
            <select id="stations_2" name="stations">
                <option value="stations1">Select Line First</option>
            </select>
        </div>
        <br>
        <button type="button">Calculate</button>
    </nav>

    <script src="Calculator.js"></script>

</body>
</html>
