@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    position: fixed;
    padding: 1rem 2%;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}

body{
    max-width: 3000px;
    background-image: url(../static/test02.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.main ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.main ul li{
    display: inline-block;
}

.main ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.main ul li a:hover{
    background-color: #ff0000;
    color: #000000;
}

.main ul li.active a{
    background-color: #ff0000;
    color: #000000;
}

.main .logo img{
    float: left;
    width: 150px;
    height: auto;
}

nav{
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: #000000;
  padding: 1%;
  border-radius: 2%;
}
.depart{
  text-align: center;
}
h1 {
  color: #ffffff;
}

h2{
  color: #ffffff;
}

label {
  font-weight: bold;
  color: #ffffff;
}

select {
  padding: 5px;
  font-size: 16px;
}

#stations-list {
  display: none;
  list-style: none;
  padding: 0;
}

#stations-list li {
  margin: 5px 0;
}