@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    position: fixed;
    padding: 1rem 2%;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}

body{
    max-width: 3000px;
    background-image: url(../static/test02.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.main ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.main ul li{
    display: inline-block;
}

.main ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.main ul li a:hover{
    background-color: #ff0000;
    color: #000000;
}

.main ul li.active a{
    background-color: #ff0000;
    color: #000000;
}

.main .logo img{
    float: left;
    width: 150px;
    height: auto;
}

nav{
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: #000000ca;
  padding: 1.4%;
  border-radius: 2%;
}
.depart, .destination{
  text-align: center;
  font-size: 35px;
}

h1 {
  color: #ffffff;
  text-decoration-line: underline;
  text-decoration-color: red;
}

label {
  font-weight: bold;
  color: #ffffff;
}

select {
  padding: 5px;
  font-size: 16px;
}

#stations-list {
  display: none;
  list-style: none;
  padding: 0;
}

#stations-list li {
  margin: 5px 0;
  max-height: 130px;
  overflow-y: auto;
}

button{
  position: relative;
  left: 31%;
  text-decoration: none;
  color: #000000;
  padding: 5px 26px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  font-size: 25;
}

button:hover{
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
}

button.active{
  background-color: #ff0000;
  color: #ffffff;
}

label[for="lines"] {
  font-weight: bold;
}

#lines , #lines_2{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#stations-container {
  margin-top: 2px;
}

#stations-list {
  list-style: none;
  padding: 0;
}

label[for="stations"] {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

#stations ,#stations_2{
  width: 60%;
  padding: 5.8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

option[value='0']{
  display: none;
}

#stationSearch ,#stationSearch_2{
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#stationSearch:focus ,#stationSearch_2:focus{
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}