<html>
<head>
    <title>TrainToBangkok - Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Calculator_Style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="Map.html">Map</a></li>
                <li class="active"><a href="#Calculator">Calculator</a></li>
                <li><a href="Service.html">Service</a></li>
            </ul>
        </div>
    </header>

    <nav>
        <!-- กรอบที่คุมตัวเครื่องคิดทั้งหมด -->
        <h1 class="depart">Departure</h1>
        <br>
        <label for="lines">Select a Train Line:</label>
        <select id="lines" name="lines">
        <!-- ตัวเลือกสายรถไฟ -->
            <!-- ค่าในตัวเลือก -->
            <option value="0">Select Line Here</option>
            <option value="sukhumvit">Green Line (Sukhumvit Line)</option>
            <option value="silom">Green Line (Silom Line)</option>
            <option value="gold">Gold Line</option>
            <option value="pink">MRT Pink Line</option>
            <option value="yellow">MRT Yellow Line</option>
            <option value="blue">MRT Blue Line</option>
            <option value="purple">MRT Purple Line</option>
            <option value="airportlink">ARL Airport Rail Link</option>
            <option value="red">Red Line Commuter Train</option>
        </select>
        <br>
        <br>
        <div id="stations-container">
            <ul id="stations-list">
            <!-- list สถานีหลังจากที่เลือกสายรถไฟจะไปอยู่ใน select id="station" -->
            </ul>
            <label for="stations">Select a Station:</label>
            <input type="text" id="stationSearch" placeholder="Search for a Station"><select id="stations" name="stations">
            <!-- ช่อง search ด้านหน้า และต่อด้วยช่องเลือกสถานีด้านหลัง -->
                <option value="stations1">Select Line First</option>
                <!-- ค่าเริ่มต้นก่อนที่จะเลือกสายรถไฟ -->
            </select>
        </div>

        <br>
        <h1 class="destination">Destination</h1>
        <br>
        <label for="lines">Select a Train Line:</label>
        <select id="lines_2" name="lines">
            <option value="0">Select Line Here</option>
            <option value="sukhumvit">Green Line (Sukhumvit Line)</option>
            <option value="silom">Green Line (Silom Line)</option>
            <option value="gold">Gold Line</option>
            <option value="pink">MRT Pink Line</option>
            <option value="yellow">MRT Yellow Line</option>
            <option value="blue">MRT Blue Line</option>
            <option value="purple">MRT Purple Line</option>
            <option value="airportlink">ARL Airport Rail Link</option>
            <option value="red">Red Line Commuter Train</option>
        </select>
        <br>
        <br>
        <div id="stations-container">
            <ul id="stations-list_2">
            </ul>
            <label for="stations">Select a Station:</label>
            <input type="text" id="stationSearch_2" placeholder="Search for a Station"><select id="stations_2" name="stations">
                <option value="stations1">Select Line First</option>
            </select>
        </div>
        <br>
        <button type="button">Calculate</button>
    </nav>

    <footer>
    <div class="footer">
        <div class="text">
            <h3>Contact</h3>
            <p><i class="fa fa-phone" aria-hidden="true"></i><span style="color: red;"> Phone : </span>098-618-8936</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span style="color: red;"> Email : </span>66070322@kmitl.ac.th</p>
        </div>
    </div>
    </footer>

    <script src="Calculator.js"></script>

</body>
</html>
