<html>
<head>
    <title>TrainToBangkok</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Index_Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <!-- ส่วนบนตั้งแต่โลโก้ ไปจนถึง 4 ปุ่มด้านขวาบน -->
        <div class="main">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul>
                <!-- ปุ่มกดไปหน้าต่าง ๆ -->
                <li class="active"><a href="#">Home</a></li>
                <li><a href="Map.html">Map</a></li>
                <li><a href="Calculator.html">Calculator</a></li>
                <li><a href="Service.html">Service</a></li>
            </ul>
        </div>
    </header>

    <section class="home" id="home">
        <!-- ส่วนในตัวเว็บ -->
        <div class="content">
            <div class="title">
                <!-- ข้อความตรงกลาง -->
                <h3>Go wherever you want with BTS.</h3>
            </div>
            <div class="content">
                <p>Let us help you calculate fares from origin to destination.
                    <br>For your greatest convenience.
                </p>
                <a href="Calculator.html" class="btn">Calculator</a>
                <!-- ปุ่มไปหน้า calculator เท่ ๆ -->
            </div>
        </div>
    </section>

    <footer>
        <!-- ส่วนด้านล่าง -->
    <div class="footer">
        <div class="text">
            <div class="text">
                <h3>Contact</h3>
                <p><i class="fa fa-phone" aria-hidden="true"></i><span style="color: red;"> Phone : </span>098-618-8936</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span style="color: red;"> Email : </span>66070322@kmitl.ac.th</p>
            </div>
    </div>
    </footer>
</body>

</html>