*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
}

html{
    font-size: calc(60% + 0.8vmin);
}

section{
    padding: 2rem 9%;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1rem 2%;
    z-index: 1000;
    height: 66px;
    background-color: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}


.menu{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.menu li{
    display: inline-block;
    position: relative;
}

.menu li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.menu li a:hover{
    background-color: #ff0000;
    color: #000000;
}

.menu li.active a{
    background-color: #ff0000;
    color: #000000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.ham-menu {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 1rem;
    top: 0px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ff0000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
}

.btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 68%;
    left: 0%;
    border: 1px solid #000000;
    padding: 10px 30px;
    color: #000000;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #ff0000;
    border: 1px solid #00000000;
    color: #ffffff;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(../static/background.jpg);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
    margin: auto;
}

.home .content h3{
    font-size: 50px;
    color: #000000;
    stroke-width: 100%;
    text-decoration-line: underline;
    text-decoration-color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00000010;
    text-shadow: #ffffff;
}

.home .content p{
    font-size: 20;
    color: #000000;
    padding: 2px 0px 12px;
    text-align: left;
    line-height: 1.5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000002e;
}

footer{
    position: absolute;
    bottom: -21.5%;
    width: 100%;
    background-color: #333;
}

.text{
    font-size: 20;
    color: #ffffff;
    margin: 3%;
    text-align: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ff0000;
}

a.sideactive{
    color: #ff0000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media only screen and (max-width: 768px) {
    .menu li{
        display: none;
        height: auto;
    }
    .ham-menu {
        padding: 1rem;
        right: 1rem;
        display: inline-block;
        list-style-type: none;
        margin-top: 25px;
    }
    header{
        position: fixed;
        
    }
    footer{
        position: absolute;
        bottom: -11.5%;
        width: 100%;
        background-color: #333;
    }
}