<html>
<head>
    <title>TrainToBangkok - Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Map_Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav-wraper">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul class="menu" id="mymenu">
                <li><a href="Index.html">Home</a></li>
                <li class="active"><a href="#Map">Map</a></li>
                <li><a href="Calculator.html">Calculator</a></li>
                <li><a href="Service.html">Service</a></li>
            </ul>
            <div class="ham-menu" onclick="ham_func(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="Index.html">Home</a>
                <a href="#" class="sideactive">Map</a>
                <a href="Calculator.html">Calculator</a>
                <a href="Service.html">Service</a>
            </div>
        </div>
    </header>

    <section class="home">
        <!-- รูปภาพ -->
        <div id="magnifying_area">
            <img src="../static/Map.jpg" class="map" id="magnifying_img">
        </div>
    </section>

    <footer>
    <div class="footer">
        <div class="text">
            <h3>Contact</h3>
            <p><i class="fa fa-phone" aria-hidden="true"></i><span style="color: red;"> Phone : </span>098-618-8936</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span style="color: red;"> Email : </span>66070322@kmitl.ac.th</p>
        </div>
    </div>
    </footer>

    <script src="Hamburger_menu.js"></script>
    <script src="Map.js"></script>

</body>
</html>