*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    padding: 2rem 9%;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1rem 2%;
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #ff0000;
    color: #000000;
}

ul li.active a{
    background-color: #ff0000;
    color: #000000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.map{
    width: 100%;
    height: auto;
}

.footer{
    position:absolute;
    bottom: -80%;
    left: 0;
    width:100%;
    height:15%;
    background:rgb(30, 30, 30);
}

.text{
    font-size: 20;
    color: #ffffff;
    margin: 3%;
    text-align: left;
}
