<html>
<head>
    <title>TrainToBangkok - Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Service.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="nav-wraper">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul class="menu" id="mymenu">
                <li><a href="Index.html">Home</a></li>
                <li><a href="Map.html">Map</a></li>
                <li><a href="Calculator.html">Calculator</a></li>
                <li class="active"><a href="#">Service</a></li>
            </ul>
            <div class="ham-menu" onclick="ham_func(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="Index.html">Home</a>
                <a href="Map.html">Map</a>
                <a href="Calculator.html">Calculator</a>
                <a href="#" class="sideactive">Service</a>
            </div>
        </div>
    </header>

    <div class="huakor">
        <h1>FAQ</h1>
    </div>

    <ul id="accordion">
        <!-- list ในส่วนของหัวข้อและคำตอบของคำถาม -->
        <li>
            <label for="first">What is TrainToBangkok?</label>
            <input type="radio" name="accordion" id="first" >
            <div class="content">
                <p>It is a website that helps you travel by electric train,
                    choose somewhere you want to go and let's we travel with you.
                </p>
            </div>
        </li>
        <br>
        <li>
            <label for="sec">How to use this website?</label>
            <input type="radio" name="accordion" id="sec">
            <div class="content">
                <p>Go to Calculator page and choose where you would like to go.</p>
            </div>
        </li>
    </li>
    <br>
    <li>
        <label for="third">How do I buy a ticket?</label>
        <input type="radio" name="accordion" id="third">
        <div class="content">
            <p>At the train station have a trainticket agent you can buy ticket from
                them also you can get the ticket at a Ticket vending machine.
            </p>
        </div>
    </li>
    <br>
    <li>
        <label for="four">When will the train start?</label>
        <input type="radio" name="accordion" id="four">
        <div class="content">
            <p>The train will start at 06:00 am some trainline start at 05:30 am
                and train end at 24:00 pm.
            </p>
        </div>
    </li>
    <br>
    <li>
        <label for="five">Have more question?</label>
        <input type="radio" name="accordion" id="five">
        <div class="content">
            <p>Direct message to us!
            </p>
        </div>
    </li>
    </ul>

    <footer>
    <div class="footer">
        <div class="text">
            <h3>Contact</h3>
            <p><i class="fa fa-phone" aria-hidden="true"></i><span style="color: red;"> Phone : </span>098-618-8936</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span style="color: red;"> Email : </span>66070322@kmitl.ac.th</p>
        </div>
    </div>
    </footer>

    <script src="Hamburger_menu.js"></script>

</body>
</html>