<html>
<head>
    <title>TrainToBangkok - Calculator</title>
    <link rel="stylesheet" href="Service.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="Map.html">Map</a></li>
                <li><a href="Calculator.html">Calculator</a></li>
                <li class="active"><a href="#Service">Service</a></li>
            </ul>
        </div>
    </header>
    <div class="huakor">
        <h1>FAQ</h1>
    </div>
    <ul id="accordion">
        <li>
            <label for="first">What is TrainToBangkok?<span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="first" >
            <div class="content">
                <p>It is a website that helps you travel by electric train,
                    choose somewhere you want to go and let's we travel with you.
                </p>
            </div>
        </li>
        <br>
        <li>
            <label for="sec">How to use this website? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="sec">
            <div class="content">
                <p>Go to Calculator page and choose where you would like to go.</p>
            </div>
        </li>
    </li>
    <br>
    <li>
        <label for="third">How do i buy a ticket? <span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="third">
        <div class="content">
            <p>At the train station have a trainticket agent you can buy ticket from
                them also you can get the ticket at a Ticket vending machine.
            </p>
        </div>
    </li>
    <li>
        <label for="four">When will the train start? <span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="four">
        <div class="content">
            <p>The train will start at 06:00 am some trainline start at 05:30 am
                and train end at 24:00 pm.
            </p>
        </div>
    </li>
    </ul>
</body>
</html>