*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    position: fixed;
    padding: 1rem 2%;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}

body{
    background-position: center;
    background-size: cover;
    /* height: 109vh; */
    background-image: url(../static/service1.jpg);
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #ff0000;
    color: #000000;
}

ul li.active a{
    background-color: #ff0000;
    color: #000000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}


.heado {
    font-size: 250%;
    margin: auto;
    padding: 150px 100px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;  ;

}

header{
    height: 50vh;
}

section{
    position: relative;
    bottom: 0%; left: 0; right: 0;
    padding: 0 0 10%;
    z-index: 1000;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0));
}