*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

html{
    font-size: calc(60% + 0.8vmin);
}

header{
    position: fixed;
    padding: 1rem 2%;
    top: 0; left: 0; right: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.524),rgba(0, 0, 0, 0));
}

#accordion{
    z-index: 0;
    align-items: center;
    top: 17%;
    left: 30%;
    width: 600px;
    position: relative;
}

.huakor{
    width: 100%;
    text-align: center;
    transform: translateY(120%);
    
}

p{
    color:#ffffff;
}

.huakor h1{
    font-size: 90px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(255, 0, 0);
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10;
    background-color: #000000ca;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 4px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(255, 0, 0);
}


#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}

body{
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-image: url(../static/service1.jpg);
}

.menu{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.menu li{
  display: inline-block;
  position: relative;
}

.menu li a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

.menu li a:hover{
  background-color: #ff0000;
  color: #000000;
}

.menu li.active a{
  background-color: #ff0000;
  color: #000000;
}

.logo img{
  float: left;
  width: 150px;
  height: auto;
}

.heado {
    margin: auto;
    padding: 150px 100px;
    font-size: 250%;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;  ;
}

footer{
    position: absolute;
    bottom: -21.5%;
    width: 100%;
    background-color: #333;
}

.text{
    font-size: 20;
    color: #ffffff;
    margin: 3%;
    text-align: left;
}

.ham-menu {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 1rem;
    top: 0px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ff0000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ff0000;
}

a.sideactive{
    color: #ff0000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 870px) {
    #accordion{
        left: 10%;
    }
}
@media only screen and (max-width: 768px) {
    .menu li{
        display: none;
        height: auto;
    }
    .ham-menu {
        padding: 1rem;
        right: 1rem;
        display: inline-block;
        list-style-type: none;
        margin-top: 25px;
    }
    header{
        position: fixed;
        
    }
    footer{
        position: absolute;
        bottom: -11.5%;
        width: 100%;
        background-color: #333;
    }
}

@media only screen and (max-width: 670px) {
    #accordion{
        left: 5%;
    }
}

@media only screen and (max-width: 600px) {
    #accordion{
        left: 0%;
        width: fit-content;
    }
}