<html>
<head>
    <title>TrainToBangkok - Calculator</title>
    <link rel="stylesheet" href="Service.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <ul>
                <li><a href="TrainToBangkok_-_Index.html">Home</a></li>
                <li><a href="TrainToBangkok_-_Map.html">Map</a></li>
                <li><a href="Calculator.html">Calculator</a></li>
                <li class="active"><a href="#Service">Service</a></li>
            </ul>
        </div>
    </header>
        <div class="heado">
            <h3>Problem</h3>
            <p>Phone : ......</p>
        </div>
</body>
</html>